
*.csv
Eval/train/riverswim/Train.RData
Eval/train/population/Train.RData
Eval/train/inventory/Train.RData
Eval/test/riverswim/evaluation.RData
Eval/test/boxplot/inventory/90confident.pdf
Eval/test/boxplot/inventory/95confident.pdf
Eval/test/boxplot/inventory/99confident.pdf
Eval/test/boxplot/population/90confident.pdf
Eval/test/boxplot/population/95confident.pdf
Eval/test/boxplot/population/99confident.pdf
Eval/test/boxplot/riverswim/90confident.pdf
Eval/test/boxplot/riverswim/95confident.pdf
Eval/test/boxplot/riverswim/99confident.pdf
Eval/test/inventory/evaluation.RData
Eval/test/inventory/RoR_df.RData
Eval/test/population/evaluation.RData
Eval/test/population/RoR_df.RData
Eval/test/riverswim/RoR_df.RData
Eval/test/histogram/inventory/full_90confident2.pdf
Eval/test/histogram/inventory/full_95confident2.pdf
Eval/test/histogram/inventory/full_99confident2.pdf
Eval/test/histogram/inventory/tail_90confident2.pdf
Eval/test/histogram/inventory/tail_95confident2.pdf
Eval/test/histogram/inventory/tail_99confident2.pdf
Eval/test/histogram/population/full_90confident2.pdf
Eval/test/histogram/population/full_95confident2.pdf
Eval/test/histogram/population/full_99confident2.pdf
Eval/test/histogram/population/tail_90confident2.pdf
Eval/test/histogram/population/tail_95confident2.pdf
Eval/test/histogram/population/tail_99confident2.pdf
Eval/test/histogram/riverswim/full_90confident2.pdf
Eval/test/histogram/riverswim/full_95confident2.pdf
Eval/test/histogram/riverswim/full_99confident2.pdf
Eval/test/histogram/riverswim/tail_90confident2.pdf
Eval/test/histogram/riverswim/tail_95confident2.pdf
Eval/test/histogram/riverswim/tail_99confident2.pdf
Eval/test/table/90RoR.txt
Eval/test/table/95RoR.txt
Eval/test/table/99RoR.txt
Eval/test/table/Time.txt
.Rhistory
